body {
    max-width: 800px;
    margin: 0px auto;

    font-family: "Deja Vu Sans Mono", monospace;
}

dt,
li.active {
    font-weight: bold;
}

input[type="submit"],
strong.block,
label {
    margin-top: 1em;
}

label {
    display: block;
}

input[type="text"],
textarea {
    display: block;
    width: 100%;
}

textarea {
    min-height: 7em;
}
